---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import GoogleTagManager from "../components/GoogleTagManager.astro";
import Navbar from "../components/Navbar/index";
import SnowEffect from "../components/SnowEffect.astro";
export interface Props {
  title?: string;
  description?: string;
  permalink?: string;
  ogImage?: string;
}

const { title, description, permalink, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <BaseHead
      title={title}
      description={description}
      permalink={permalink}
      ogImage={ogImage}
    />
    <GoogleTagManager />
    <SnowEffect />
  </head>
  <body
    class="bg-white dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black dark:bg-no-repeat dark:bg-black transition duration-500 ease-in-out"
  >
    <Navbar client:load />
    <main
      class="sm:max-w-xl md:max-w-full lg:max-w-screen-lg mx-auto px-6 animate-fadeIn"
    >
      <slot />
    </main>
    <Footer />
    <style>
      html,
      body {
        width: 100%;
        height: 100%;
        -webkit-tap-highlight-color: transparent;
      }

      html {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    </style>

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
      if (history.scrollRestoration) {
        history.scrollRestoration = "manual";
      } else {
        window.onbeforeunload = function () {
          window.scrollTo(0, 0);
        };
      }
    </script>
  </body>
</html>
